In [2]:
import pandas as pd
import json
import sqlite3

orders = pd.read_csv('orders.csv')

with open('users.json', 'r') as f:
    users_data = json.load(f)
users = pd.DataFrame(users_data)

conn = sqlite3.connect(':memory:')
with open('restaurants.sql', 'r') as f:
    sql_script = f.read()
conn.executescript(sql_script)
restaurants = pd.read_sql_query("SELECT * FROM restaurants", conn)
conn.close()

In [4]:
merged_data = pd.merge(orders, users, on='user_id', how='left')

final_df = pd.merge(merged_data, restaurants, on='restaurant_id', how='left')

print(f"Final dataset rows: {len(final_df)}")
final_df.head()

Final dataset rows: 10000

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [6]:
gold_orders = final_df[final_df['membership'] == 'Gold'].shape[0]

hyd_rev = round(final_df[final_df['city'] == 'Hyderabad']['total_amount'].sum())

gold_aov = round(final_df[final_df['membership'] == 'Gold']['total_amount'].mean(), 2)

print(f"Gold Orders: {gold_orders}")
print(f"Hyderabad Revenue: {hyd_rev}")
print(f"Gold AOV: {gold_aov}")

final_df.to_csv('final_food_delivery_dataset.csv', index=False)

Gold Orders: 4987
Hyderabad Revenue: 1889367
Gold AOV: 797.15